<section id="movementation-view">  
  <article *ngIf="itemId; else isIndex">
    <app-info-item-template
      [isMovementation]="true"
      [itemId]="itemId"
      [headerMessage]="'Realizar Movimentação no Item'"
      >
    </app-info-item-template>
  </article>

  <ng-template #isIndex>
    <button class="return-button" mat-raised-button (click)="return()">
      <fa-icon [icon]="faArrowLeft" size="sm"></fa-icon>
      Voltar
    </button>

    <article class="table">
      <h3 class="no-movementations" *ngIf="!movementations?.length; else hasMovementations">Não há movimentações registradas</h3>
      
      <ng-template #hasMovementations>
        <table mat-table [dataSource]="movementations">
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Imagem</th>
            <td mat-cell *matCellDef="let element">
              <span [routerLink]="'/info-item/' + element.item.id" *ngIf="element?.item?.product_image; else hasImage">
                <img class="product_image" [src]="element?.item?.product_image" [alt]="element?.item?.product_image.name">
              </span>
              <ng-template #hasImage>
                <fa-icon [icon]="faCamera" size="xl"></fa-icon>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">
              <a class="product_link" [routerLink]="'/info-item/' + element.item.id">{{ element.item.name }}</a>
            </td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.item.category }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let element"><span [class]="element.move_type != move_type.type ? 'saida': 'entrada'">{{ element.quantity }}</span></td>
          </ng-container>
          <ng-container matColumnDef="unit_price">
            <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
            <td mat-cell *matCellDef="let element">{{ element.item.unit_price }}</td>
          </ng-container>
          <ng-container matColumnDef="move_type">
            <th mat-header-cell *matHeaderCellDef>Movimentação</th>
            <td mat-cell *matCellDef="let element"><span>{{ element.move_type }}</span></td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef>Atualizado Em</th>
            <td mat-cell *matCellDef="let element">{{ element.updated_at | date: 'dd/MM/yyyy HH:mm':'BRT' }}</td>
          </ng-container>
          <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef>Responsável</th>
            <td mat-cell *matCellDef="let element">{{ element.employee ? element.employee.name : element.user.name }}</td>
          </ng-container>
          <ng-container matColumnDef="action_buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="action_buttons" mat-cell *matCellDef="let element">
              <fa-icon
                class="delete_icon"
                [icon]="faTrash"
                (click)="deleteMovementation(element.id)"
                matTooltip="Deletar Movimentação"
                matTooltipPosition="below"
                >
              </fa-icon>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-template>
    </article>
  </ng-template>
</section>

