<section id="register">
  <article>
    <div class="form">
      <div class="register-card">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label for="name" class="custom-mat-label">Nome do Estabelecimento</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              class="custom-mat-input"
              name="name"
              id="name"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label for="email" class="custom-mat-label">Email</mat-label>
            <input
              matInput
              type="email"
              class="form-control"
              class="custom-mat-input"
              name="email"
              id="email"
              formControlName="email"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label for="password" class="custom-mat-label">Senha</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              class="custom-mat-input"
              name="password"
              id="password"
              formControlName="password"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            [disabled]="registerForm.invalid"
            [class]="registerForm.invalid ? 'disabled' : ''"
            type="submit"
          >
            Registrar
          </button>
          
          <a routerLink="../user-login">
            Entrar na Conta
          </a>
        </form>
      </div>
    </div>

    <div class="image">
    </div>
  </article>
</section>
