<section id="plans">
  <div class="plan-card">
    <div class="plan-badge">Mais Vendido!</div>
    <div class="card-header">
      <h2>Plano Ouro</h2>
    </div>

    <div class="card-body gold-plan">
      <p>Benefícios</p>

      <ul>
        <li>
          <p class="list-item">Pode adicionar até 50 FUNCIONÁRIOS</p>
        </li>
      </ul>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <span div="parcels">12x de </span>
        <h3>R$ 145,83 <span>/ mês</span></h3>
        <h4>Anual: R$ 1749,90</h4>
      </div>

      <button mat-button mat-raised-button routerLink="/contract/plan/1">ADERIR</button>
    </div>
  </div>
  <div class="plan-card">
    <div class="card-header">
      <h2 class="silver-plan-title">Plano Prata</h2>
    </div>

    <div class="card-body silver-plan">
      <p>Benefícios</p>
      
      <ul>
        <li>
          <p class="list-item">Pode adicionar até 25 FUNCIONÁRIOS</p>
        </li>
      </ul>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <span div="parcels">12x de </span>
        <h3 class="silver-plan-value">R$ 94,99 <span>/ mês</span></h3>
        <h4>Anual: R$ 1139,90</h4>
      </div>

      <button mat-button mat-raised-button routerLink="/contract/plan/2">ADERIR</button>
    </div>
  </div>
  <div class="plan-card">
    <div class="card-header">
      <h2 class="bronze-plan-title">Plano Bronze</h2>
    </div>

    <div class="card-body bronze-plan">
      <p>Benefícios</p>
      
      <ul>
        <li>
          <p class="list-item">Pode adicionar até 10 FUNCIONÁRIOS</p>
        </li>
      </ul>
    </div>

    <div class="card-footer">
      <div class="plan-value">
        <span div="parcels">12x de </span>
        <h3 class="bronze-plan-value">R$ 74,99 <span>/ mês</span></h3>
        <h4>Anual: R$ 899,90</h4>
      </div>

      <button mat-button mat-raised-button routerLink="/contract/plan/3">ADERIR</button>
    </div>
  </div>
</section>
