<section id="real-header">
  <div id="remaining-days-info" *ngIf="!isRemainingInfoHide">
    <h3 *ngIf="remainingDays > 0">
      A conta está em período de teste de 7 dias.
      {{ remainingDays > 1 ? "Restam" : "Resta" }} {{ remainingDays }}
      {{ remainingDays > 1 ? "dias" : "dia" }}.
      <a href="/contract-subscription">Contratar plano</a>
    </h3>

    <button (click)="isRemainingInfoHide = !isRemainingInfoHide">X</button>
  </div>

  <section id="header">
    <div class="title-header">
      <a routerLink="/index" routerLinkActive="active" class="brand">
        <h1>{{ accountName?.length ? accountName : "e-Gest" }}</h1>
      </a>
      <h2>Estoque</h2>
    </div>

    <nav *ngIf="!isHideButton">
      <button class="menu-toggle" (click)="toggleMenu()">
        <fa-icon [icon]="!isToggleMenu ? faBars : faMinus" size="xl"></fa-icon>
      </button>
    </nav>
  </section>
</section>
