#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000;

  .menu-toggle {
    margin-right: 15px;
  }
  
  .title-header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 15px;
    
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-right: 15px;
    }
    
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}