<section id="register-item">
  <article class="background">
    <div class="card-header">
      <h2>{{ header }}</h2>

      <div>
        <button mat-raised-button (click)="isScanning = !isScanning">Escanear</button>

        <div class="scanner" *ngIf="isScanning">
          <zxing-scanner
            [enable]="isScanning"
            (scanSuccess)="onCodeResult($event)"
            [formats]="formatsEnabled"
            [tryHarder]="true"
          ></zxing-scanner>
        </div>
      </div>
    </div>
    
    <form [formGroup]="itemGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="name" class="custom-mat-label">Nome</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          class="custom-mat-input"
          name="name"
          id="name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="barcode" class="custom-mat-label">Código de Barras</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          class="custom-mat-input"
          name="barcode"
          id="barcode"
          formControlName="barcode"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="barcode" class="custom-mat-label">É variante?</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          class="custom-mat-input"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="unit_price" class="custom-mat-label">Preço de Compra Un.</mat-label>
        <input
          matInput
          type="number"
          class="custom-mat-input"
          name="unit_price"
          id="unit_price"
          min="0"
          formControlName="unit_price"
          required
          step="any"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="sale_price" class="custom-mat-label">Preço de Revenda Un.</mat-label>
        <input
          matInput
          type="number"
          class="custom-mat-input"
          name="sale_price"
          id="sale_price"
          min="0"
          formControlName="sale_price"
          required
          step="any"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-mat-form-field">
        <mat-label for="category" class="custom-mat-label">Categoria</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          class="custom-mat-input"
          name="category"
          id="category"
          formControlName="category"
          required
        />
      </mat-form-field>

      <div class="photo">
        <label class="custom-file-input">
          <div class="profile-image">
            <img
              [src]="selectedImage"
              *ngIf="selectedImage"
              alt="Imagem Selecionada"
            />
            <span>
              <fa-icon [icon]="faCamera" size="2xl"></fa-icon>
            </span>
            <input
              type="file"
              (change)="onFileSelected($event)"
              name="product_image"
              id="product_image"
              formControlName="product_image"
              accept="image/*"
              required
            />
          </div>
        </label>
      </div>

      <article class="save-button-area">
        <button mat-raised-button type="submit" class="save-button">{{ save_button }}</button>
      </article>
    </form>
  </article>
</section>
