#register-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 890px;
  margin: 20px 0;

  .return-button {
    background: #4d4d4d;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    left: -50%;
    transform: translateX(50%);
  }

  .background {
    max-width: 890px;
    padding: 15px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        text-align: start;
        font-weight: 500;
        margin-left: 25px;
      }

      .button-scanner {
        z-index: 100;
      }
  
      .button-scanner-on {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        cursor: pointer;
      }
  
      .camera-scanner {
        width: 250px;
        height: 250px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      .scanner-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #4D4D4D;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: blur(25%);
        z-index: 99;
      }
    }

    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      mat-form-field.mat-form-field {
        cursor: pointer;
      }

      .save-button-area {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        .save-button {
          margin-right: 15px;
          background: #000;
          color: #fff;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

          :hover {
            background: #d9d9d9;
          }
        }
      }
      
      .custom-mat-form-field {
        width: 45%;
      }

      .photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
  
      .custom-file-input {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 15px;
      }
      
      .custom-file-input input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      
      .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 15px;
        background-color: #4D4D4D;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      }
      
      .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .profile-image span {
        position: absolute;
        text-align: center;
      }
      
      .profile-image:hover {
        background-color: #A6A6A6;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .button-scanner-on {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    cursor: pointer;
  }
}
