<section id="home">
  <article>
    <button mat-raised-button routerLink="/register-item">Adicionar Novo Item</button>

    <h3 class="no-products" *ngIf="!items.length; else hasProducts">Não há produtos registrados</h3>

    <ng-template #hasProducts>
      <table mat-table [dataSource]="items">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Imagem</th>
          <td mat-cell *matCellDef="let element">
            <span [routerLink]="'/info-item/' + element.id" *ngIf="element.product_image; else hasImage">
              <img class="product_image" [src]="element.product_image" [alt]="element.product_image.name">
            </span>
            <ng-template #hasImage>
              <fa-icon [icon]="faCamera" size="xl"></fa-icon>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">
            <a class="product_link" [routerLink]="'/info-item/' + element.id">{{element.name}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">{{element.category}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
          <td mat-cell *matCellDef="let element">{{element.unit_price}}</td>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>Atualizado Em</th>
          <td mat-cell *matCellDef="let element">{{element.updated_at | date: 'dd/MM/yyyy HH:mm':'BRT' }}</td>
        </ng-container>
        <ng-container matColumnDef="action_buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="action_buttons" mat-cell *matCellDef="let element">
            <fa-icon [icon]="faPen" [routerLink]="'/edit-item/' + element.id">Edit</fa-icon>
            <fa-icon [icon]="faTrash" (click)="deleteItem(element.id)">Delete</fa-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-template>
  </article>
</section>
