mat-drawer-container {
  height: calc(100% - 100px);
  background: #fff;

  .sidenav {
    background: #4d4d4d;
    width: 220px;

    nav {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .nav-item {
        color: #fff;
        margin-bottom: 30px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        padding: 5px 10px;
      }

      .active {
        border-bottom: 2px solid #fff;
      }
    }

    .exit {
      color: #fff;
      position: fixed;
      bottom: 15px;
      left: 15px;
      cursor: pointer;
    }
  }
}
