<app-header></app-header>

<div *ngIf="!toggleSideNav" class="fake-sidenav">
  <nav>
    <ng-container *ngIf="isAdminArea; else is_in_admin">
      <a routerLink="/index" routerLinkActive="active" class="nav-item">
        <div class="separate-nav-icons">
          <fa-icon [icon]="homeIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a
        routerLink="/movementations"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="moveIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a routerLink="/clients" routerLinkActive="active" class="nav-item">
        <div class="separate-nav-icons">
          <fa-icon [icon]="clientIcon" size="lg"></fa-icon>
        </div>
      </a>
    </ng-container>

    <ng-template #is_in_admin>
      <a
        routerLink="/admin/employees"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="employeesIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a
        routerLink="/admin/register-employee"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="addEmployeeIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a
        routerLink="/admin/categories"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="categoriesIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a
        routerLink="/admin/register-category"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="addCategoryIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a routerLink="/clients" routerLinkActive="active" class="nav-item">
        <div class="separate-nav-icons">
          <fa-icon [icon]="addRolesIcon" size="lg"></fa-icon>
        </div>
      </a>
      <a
        routerLink="/admin/pix-payment"
        routerLinkActive="active"
        class="nav-item"
      >
        <div class="separate-nav-icons">
          <fa-icon [icon]="financeIcon" size="lg"></fa-icon>
        </div>
      </a>
    </ng-template>
  </nav>
</div>

<mat-drawer-container>
  <mat-drawer class="sidenav" mode="side" [opened]="toggleSideNav">
    <nav>
      <ng-container *ngIf="isAdminArea; else is_in_admin">
        <a routerLink="/index" routerLinkActive="active" class="nav-item">
          <div class="separate-nav-icons">
            <fa-icon [icon]="homeIcon" size="lg"></fa-icon>
            <p>Home</p>
          </div>
        </a>
        <a
          routerLink="/movementations"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="moveIcon" size="lg"></fa-icon>
            <p>Movimentações</p>
          </div>
        </a>
        <a routerLink="/clients" routerLinkActive="active" class="nav-item">
          <div class="separate-nav-icons">
            <fa-icon [icon]="clientIcon" size="lg"></fa-icon>
            <p>Clientes</p>
          </div>
        </a>
      </ng-container>

      <ng-template #is_in_admin>
        <a
          routerLink="/admin/employees"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="employeesIcon" size="lg"></fa-icon>
            <p>Funcionários</p>
          </div>
        </a>
        <a
          routerLink="/admin/register-employee"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="addEmployeeIcon" size="lg"></fa-icon>
            <p>Adicionar Funcionário</p>
          </div>
        </a>
        <a
          routerLink="/admin/categories"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="categoriesIcon" size="lg"></fa-icon>
            <p>Categorias</p>
          </div>
        </a>
        <a
          routerLink="/admin/register-category"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="addCategoryIcon" size="lg"></fa-icon>
            <p>Cadastrar Categoria</p>
          </div>
        </a>
        <a routerLink="/clients" routerLinkActive="active" class="nav-item">
          <div class="separate-nav-icons">
            <fa-icon [icon]="addRolesIcon" size="lg"></fa-icon>
            <p>Cadastrar Funções</p>
          </div>
        </a>
        <a
          routerLink="/admin/pix-payment"
          routerLinkActive="active"
          class="nav-item"
        >
          <div class="separate-nav-icons">
            <fa-icon [icon]="financeIcon" size="lg"></fa-icon>
            <p>Financeiro</p>
          </div>
        </a>
      </ng-template>

      <div id="menu-bottom">
        <a class="exit" routerLink="/account/user-login" (click)="checkout()">
          <fa-icon [icon]="gearIcon" size="lg"></fa-icon>
          Sair
        </a>
        <ng-container *ngIf="isAdminArea; else return_home">
          <a
            *ngIf="isMaster"
            (click)="toggleAdmin()"
            class="admin"
            routerLink="/admin/index"
          >
            <fa-icon [icon]="adminAreaIcon" size="lg"></fa-icon>
            Admin
          </a>
        </ng-container>

        <ng-template #return_home>
          <a
            *ngIf="isMaster"
            (click)="toggleAdmin()"
            class="admin"
            routerLink="../index"
          >
            <fa-icon [icon]="arrowLeft" size="lg"></fa-icon>
            Retornar
          </a>
        </ng-template>
      </div>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
